language: cpp
matrix:
  include:
    - os: osx
      osx_image: xcode7.3
      compiler: clang
before_script:
  - brew update
  - brew outdated cmake || brew upgrade cmake
  - cmake --version
script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX="../dst-$TRAVIS_TAG" -G"Xcode" ..
  - cmake --build . --config Release
  - ctest -V -C Release .
  - cmake --build . --config Debug
  - ctest -V -C Debug .
  - cmake --build . --target install
  - cd ..
  - zip -r -X "dst-$TRAVIS_TAG.zip" "dst-$TRAVIS_TAG"
