language: cpp
matrix:
  include:
    - os: osx
      osx_image: xcode7.2
      compiler: clang
before_script:
  - brew update
  - brew install cmake
  - cmake --version
script:
  - mkdir build
  - cd build
  - cmake -G"Xcode" ..
  - cmake --build . --config Release
  - ctest -V -C Release .
  - cmake --build . --config Debug
  - ctest -V -C Debug .
